---
title: Using BOSH Backup and Restore
owner: London Services
---

<strong><%= modified_date %></strong>


This topic describes how to use the BOSH Backup and Restore (BBR) command-line tool for backing up and restoring BOSH deployments.

BBR offers a standardized way to backup and restore the BOSH Director and BOSH Deployments that support it.
If you have already set up BBR for your <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) deployment, you might find it easier to use
BBR to back up your Redis service instances, in addition to, or instead of, using automated service backups.

For more information, see [Configuring Automated Service Backups](./auto-backup.html) and
[Comparison of the Available Backup Methods](./auto-backup.html#comparison).

<p class="note"><strong>Note:</strong> Only on-demand Redis service instances have support for BBR,
  for backup and restore of shared instances see <a href="./auto-backup.html">Configuring Automated Backups for <%= vars.product_full %></a>.</p>


## <a id="prepare"></a>Prepare to Use BBR

To take a backup of BOSH deployments and On-Demand <%= vars.product_short %>, BBR must be installed. If you do not already have it installed,
follow the instructions in
<a href="https://docs.pivotal.io/platform/customizing/backup-restore/backup-pcf-bbr.html#prepare">Prepare to Create Your Backup</a> in the BBR documentation.

<p class="note"><strong>Note:</strong> When deciding on the disk size for the jumpbox remember
that the Redis backup artifact is roughly 1/10 of the RAM usage of the Redis instance.</p>

Record the BOSH Director IP and path to server certificate.

### <a id="identify"></a>Identify Your Redis Deployments

You need the names of your Redis service instances to back up and restore them.

To obtain the instance deployment names:

1. Run the following from your jumpbox, and record the resulting names.

	```
	$ BOSH_CLIENT=REDIS-BOSH-CLIENT \
	BOSH_CLIENT_SECRET=REDIS-BOSH-PASSWORD \
	bosh -e BOSH-DIRECTOR-IP \
	--ca-cert PATH-TO-BOSH-SERVER-CERTIFICATE \
	--column name \
	deployments
	```
	Where:
	* `REDIS-BOSH-CLIENT`, `REDIS-BOSH-PASSWORD`: To find these in the <%= vars.ops_manager %> Installation Dashboard, click the <%= vars.product_short %> tile, navigate to the
	**Credentials** tab, and click **UAA Client Credentials**. Note the `Redis BOSH UAA` credentials.
	* `BOSH-DIRECTOR-IP`: You retrieved this value in [Step 1–6: Prepare to Create Your Backup](https://docs.pivotal.io/platform/customizing/backup-restore/backup-pcf-bbr.html#prepare).
	* `PATH-TO-BOSH-SERVER-CERTIFICATE`: This is the path to the Certificate Authority (CA) certificate for the BOSH Director.
	For more information, see [Ensure BOSH Director Certificate Availability](https://docs.pivotal.io/platform/customizing/backup-restore/system-setup-bbr.html#root-ca-cert).
	<p class="note"><strong>Note</strong>: In the command above, <code>BOSH_CLIENT</code> is not a variable.</p>

    For example:

    <pre class="terminal">
$ BOSH_CLIENT=p-redis-eb12345cb7a123450f08 \
BOSH_CLIENT_SECRET=338b012345d987bb24b5f \
bosh -e 10.0.0.5 \
--ca-cert /var/example/workspaces/default/root_ca_certificate \
--column name \
deployments </pre>

## <a id="backup"></a>Back Up Using BBR

To back up using BBR:

1. Back up your BOSH deployments.

	This includes backing up your <%= vars.ops_manager %> installation settings,
	BOSH Director and <%= vars.app_runtime_abbr %>, as detailed in [Backing Up Deployments with BBR](https://docs.pivotal.io/platform/customizing/backup-restore/backup-pcf-bbr.html#procedure).

	<p class="note"><strong>Note</strong>: For a full restore of Redis service
	instances to be valid, you must have a backup of the BOSH Director and <%= vars.app_runtime_abbr %>.</p>

1. Backup each Redis service instance:

	From your jumpbox run the following.

	```
	$ BOSH_CLIENT_SECRET=BOSH-CLIENT-PASSWORD \
	bbr deployment \
	--target BOSH-DIRECTOR-IP \
	--username BOSH-CLIENT \
	--ca-cert PATH-TO-BOSH-SERVER-CERTIFICATE \
	--deployment REDIS-SERVICE-INSTANCE-DEPLOYMENT-NAME \
	backup
	```
	Where:
	* `BOSH-CLIENT`, `BOSH-CLIENT-PASSWORD`: These are the client credentials you retrieved in [Preparing to Use BBR](#prepare).
	* `REDIS-SERVICE-INSTANCE-DEPLOYMENT-NAME`: This is the deployment name for the on-demand Redis service instance you are backing up.
	<p class="note"><strong>Note</strong>: In the above command, <code>BOSH\_CLIENT\_SECRET</code> is not a variable.</p>

    For example:

    <pre class="terminal">
	$ BOSH_CLIENT_SECRET=KJsdgKJj12345ljk83Hufy12345b6-34n4 \
	bbr deployment \
	--target 10.0.0.5 \
	--username ops_manager \
	--ca-cert /var/example/workspaces/default/root_ca_certificate \
	--deployment service-instance_40b123e4a-be1c-1232-ad31-123e01b7d169 \
	backup

    </pre>

1. Follow the steps given in the [After Taking the Backups](https://docs.pivotal.io/platform/customizing/backup-restore/backup-pcf-bbr.html#after)
step of the BBR documentation.

	Ensure you do this for the backup artifacts for all of your service instances and your BOSH Director and <%= vars.app_runtime_abbr %>.

## <a id="restore"></a>Restore Using BBR

To restore using BBR:

1. To restore on-demand Redis service instance data, follow the procedure
for [Restoring Deployments from Backup with BBR](https://docs.pivotal.io/platform/customizing/backup-restore/restore-pcf-bbr.html) in full.

	<p class="note"><strong>Note:</strong> Ensure that as part of
		<a href="https://docs.pivotal.io/platform/customizing/backup-restore/restore-pcf-bbr.html#artifacts-jumpbox">Step 6: Transfer Artifacts to Jumpbox</a> you transfer your Redis service instance artifacts.</p>

1. For each Redis service instance artifact run the below command from your jumpbox:

	```
	$ BOSH_CLIENT_SECRET=BOSH-CLIENT-PASSWORD \
		bbr deployment \
	--target BOSH-DIRECTOR-IP \
	--username BOSH-CLIENT \
	--ca-cert PATH-TO-BOSH-SERVER-CERTIFICATE \
	--deployment REDIS-SERVICE-INSTANCE-DEPLOYMENT-NAME \
	restore --artifact-path PATH-TO-SERVICE-INSTANCE-ARTIFACT
	```
	Where:<br>
	`PATH-TO-SERVICE-INSTANCE-ARTIFACT` is the path to the artifact for the instance that you are currently restoring.
	By default the artifact directory includes the deployment name and timestamp.
	<p class="note"><strong>Note:</strong> In the above command, <code>BOSH\_CLIENT\_SECRET</code> is not a variable.</p>

    For example:

    <pre class="terminal">
	$ BOSH_CLIENT_SECRET=KJsdgKJj12345jk83Hufy12345b6-34n4 \
    bbr deployment \
	--target 10.0.0.5 \
	--username ops_manager \
	--ca-cert /var/example/workspaces/default/root_ca_certificate \
	--deployment service-instance_40b12e4a-be1c-1232-ad31-12345e01b7d123 \
	restore --artifact-path /tmp/service-instance_40b12e4a-be1c-1232-ad31-12345e01b7d169_1234503T141538Z
    </pre>

If a restore fails because there is no deployment of the name specified, then
you are likely in the [Backup Artifact for a Non-Existent Service Instance](#no-cc-record) inconsistent state
and can skip the restore for that artifact.
For more information, see [Backup Artifact for a Non-Existent Service Instance](#no-cc-record) below.

<p class="note"><strong>Note:</strong> If you have a backup artifact (a <code>dump.rdb</code> file) from any source besides a BBR backup, you can also use it in this restore procedure. </p>

## <a id="inconsistancies"></a>Possible Inconsistent States

Because the Redis On-Demand broker is not locked during the backup process,
the backups of the <%= vars.app_runtime_abbr %>and service instances can be out of sync if an app developer creates or deletes an on-demand
Redis service between the <%= vars.app_runtime_abbr %>backup and Redis service instance backups.

### <a id="no-restore-data"></a>No Backup Artifact for a Service Instance

If an on-demand Redis service was deleted in between the backup of the <%= vars.app_runtime_abbr %>and the Redis service instances,
there is no backup artifact for a deployed service instance.
Resolve this by deleting the service,
which had already been deleted during the backup process so presumably is not wanted.

### <a id="no-cc-record"></a>Backup Artifact for a Non-Existent Service Instance

If an on-demand Redis service was created between the backup of the <%= vars.app_runtime_abbr %>and the Redis service
instances, there is a backup artifact which has no corresponding deployed service instance.
In this case, the only action you need to take is to skip the restore of this artifact.
The app developer who created the service can re-create it.
