---
title: Networking for On-Demand Services
owner: London Services
---

<strong><%= modified_date %></strong>

<div class="quick-links">
    <ul>
        <li><a href="#service-network">Service Network Requirement</a></li>
        <li><a href="#architecture_networks">Default Network and Service Network</a></li>
        <li><a href="#network-rules">Required Networking Rules for On-Demand Services</a></li>
    </ul>
</div>

This section describes networking considerations for the <%= vars.product_full %> on-demand service.

<h2> <a id="service-network"></a>Service Network Requirement </h2>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services/service-networks-v3' %>

<h2> <a id ="on-demand"></a>Default Network and Service Network </h2>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services/on_demand_architecture', :locals => {
  :product_short => vars.product_short} %>


<h2> <a id="network-rules"></a>Required Networking Rules for On-Demand Services </h2>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services/service_networks_table', :locals => {
	:app_runtime_full => vars.app_runtime_full,
	:product_short => "Redis"} %>

<br>
Regardless of the specific network layout, the operator must ensure network
rules are set up so that connections are open as described in the table below.

<table class="nice">
	<th>Source Component</th>
	<th>Destination Component</th>
	<th>Default TCP Port</th>
	<th>Notes</th>
	<tr>
		<td><strong>ODB</strong></td>
		<td>
				<strong>BOSH Director</strong><br><br>
		    <strong>BOSH UAA</strong>
		</td>
		<td>
			25555
			8443
			8844
		</td>
		<td>The default ports are not configurable.</td>
	</tr>
	<tr>
		<td><strong>ODB</strong></td>
		<td><strong><%= vars.app_runtime_abbr %></strong>
		</td>
		<td>8443</td>
		<td>The default port is not configurable.</td>
	</tr>
	<tr>
		<td><strong>Errand VMs</strong></td>
		<td>
				<strong><%= vars.app_runtime_abbr %></strong><br><br>
				<strong>ODB</strong><br><br>
				<strong>Deployed service instances</strong>
		</td>
		<td>
				8443
				8080
				6379
				16379
		</td>
		<td>The default ports are not configurable.</td>
	</tr>
	<tr>
		<td><strong>BOSH Agent</strong></td>
		<td><strong>BOSH Director</strong>
		</td>
		<td>4222</td>
		<td>The BOSH Agent runs on every VM in the system, including the BOSH Director VM.
			The BOSH Agent initiates the connection with the BOSH Director.<br>
			The default port is not configurable.<br><br>
			The communication between these components is two-way.</td>
	</tr>
	<tr>
		<td><strong>Deployed apps on <%= vars.app_runtime_abbr %></strong></td>
		<td><strong>Deployed service instances</strong>
		</td>
		<td>
			6379
			16379
		</td>
		<td>This is the default port where Redis is deployed and is the default for using Redis with TLS.</td>
	</tr>
	<tr>
		<td><strong><%= vars.app_runtime_abbr %></strong></td>
		<td><strong>ODB</strong>
		</td>
		<td>
			8080
		</td>
		<td>The default port is not configurable.</td>
	</tr>
</table>

For a complete list of ports and ranges used in <%= vars.product_short %>, see
[Network Configuration](./installing.html#network-configuration).
